.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    box-shadow: var(--shadow);
    height: 6rem;
    background: var(--primary-color)
}

.navigation-list a {
    text-decoration: none;
    font-weight: 500;
    color: var(--link-color);
}

.navigation-list ul li {
    display: inline-flex;
    margin-inline: 1rem;
}

.logo {
    text-align: center;
}

.logo p {
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1rem;
    color: var(--secondary-color);
}

.login-sign-in span {
    color: var(--secondary-color);
    font-size: 1.3rem;
    margin-right: 2rem;
}

.login-sign-in button {
    background: var(--secondary-color);
    font: inherit;
    border-radius: 50px;
    border: none;
}

.login-sign-in button a {
    color: var(--primary-color);
    padding: 1rem;

}

.login-sign-in a {
    text-decoration: none;
    font-weight: 400;

}