@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


:root {
  --primary-color: rgba(255, 255, 255, 1);
  --secondary-color: rgba(41, 95, 45, 1);
  ;
  --light-color: rgba(252, 255, 252, 1);
  --minor-color:rgba(249, 249, 249, 1);
  --shadow: 0px 5px 30px rgba(0, 0, 0, 0.03);
  --paragraph-color:rgb(51, 51, 51);
  --link-color:rgba(90, 90, 90, 1)
}

/* Typography */
html{
  font-size: 18px;
}
body{
  font-family: "Poppins", sans-serif;
  line-height: 2;
  
}
h1{
  font-size: 2.7rem;
  font-weight: 600;
}
h2{
  font-size: 2.22rem;
  font-weight: 600;
}
h3{
  font-size: 1.88rem;
  font-weight: 500;
}
p{
 color: var(--paragraph-color);

}